body {
  background: linear-gradient(to bottom, #fff 0, #f6f6f6 200px);
  display: flex;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
}

h1,
h2
 {
  font-family: serif;
  font-weight: normal;
  border-bottom: 1px solid #aaa;
  overflow: hidden;
}

a {
  color: #0645ad;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type="search"] {
   -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
   -webkit-appearance: none;
}

h1 {
  font-size: 28.8px;
  margin: 7px;
  padding-bottom: 5px;
}

.main-container {
  order: 1;
  width: 100%;
}

.main-sidebar {
  flex: 0 0 auto;
  order: 0;
  width: 176px;
}

.main-header {
  height: 80px;
  position: relative;
}

.main-header ul {
  display: flex;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.main-header li {
  list-style-type: none;
}

.main-header nav,
.search {
  position: absolute;
}

.user-menu {
  top: 5px;
  right: 5px;
}

.user-menu a,
.user-menu span {
  display: block;
  padding: 5px;
}

.talk-menu {
  bottom:0;
  left: 0;
}

.edit-menu {
  bottom: 0;
  right: 300px;
}

.tab ul {
  background: linear-gradient(to bottom, transparent 0%, #a7d7f9 100%);
  padding-left: 1px;
}

.tab a {
  background: linear-gradient(to bottom, #fff 0%, #e8f2f8 100%);
  bottom: -1px;
  display: block;
  margin-right: 1px;
  padding: 15px 5px 5px;
  position: relative;
}

.active-tab a {
  background: white;
  border-bottom: 1px solid #fff;
}

.search {
  bottom: 5px;
  right: 10px;
}

.search input[type=search] {
  background: url(https://en.wikipedia.org/static/1.27.0-wmf.6/skins/Vector/images/search-ltr.png?511c1) no-repeat calc(100% - 5px) 50%, linear-gradient(to bottom, #f6f6f6 0, #fff 50%);
  border: 1px solid #ccc;
  font: 13px arial, sans-serif;
  height: 25px;
  padding: 2px 20px 2px 2px;
  width: 285px;
}

.search input[type=search]:focus {
  outline: 0;
}

.search input[type=submit] {
  background: transparent;
  border: 1px solid transparent;
  bottom: 0;
  cursor: pointer;
  height: 25px;
  padding: 1px;
  position: absolute;
  right: 0;
  width: 25px;
}

.search input[type=submit]:focus {
  outline: 0;
}

.main-content {
  background: #ffffff;
  border: 1px solid #a7d7f9;
  border-right: 0;
  padding: 5px 16px 16px 16px;
  font-size: 14px;
  line-height: 21px;
}

.biography {
  background: #f9f9f9;
  border: 1px solid #aaa;
  box-sizing: border-box;
  float: right;
  margin: 6px 0px 5px 12px;
  padding: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 280px;
}

.biography h4 {
  font-size: 15.4px;
  margin: 0;
  padding-bottom: 5px;
  text-align: center;
}

.biography dl {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

.biography dd {
  display: block;
  font-size: 12.3px;
  margin: 0;
  width: 70%
}

.biography dt {
  font-size: 12.3px;
  font-weight: bold;
  width: 30%;
}

.biography img {
  padding-left: 15px;

}

.biography p {
  font-size: 12px;
  text-align: center;
  margin: 0;
}

.main-footer {
  height: 150px;
}

.logo {
  display: block;
  width: 135px;
  height: 155px;
  background: url(../img/logo.png);
  margin: 6px auto 0;
  color: rgba(0, 0, 0, 0);
}

.status {
  background: url(../img/head.png) no-repeat 5px 4px;
  color: grey;
  padding: 5px 5px 10px 20px;
}

.main-sidebar {
  font-size: 12px;
  order:0;
  width: 176px;
  flex: 0 0 auto;
  display: block;
  position: relative;
  line-height: 18px;
}

.main-sidebar li {
  list-style-type: none;
}

.menu-bar {
  padding-left: 10px;
  color: grey;
}

.action {
  background: #f9f9f9;
  border: 1px solid #aaa;
  box-sizing: border-box;
  float: right;
  margin: 6px 0px 12px 12px;
  padding: 15px;
  width: 270px;
}

.action img {
  padding-left: 10px;
}

.contents {
  font-size: 13.3px;
  line-height: 21.28px;
  background: #f9f9f9;
  border: 1px solid #aaa;
  display: inline-block;
  text-align: left;
  padding: 5px 10px 10px 10px;
}

.contents h4 {
  margin: 5px;
  text-align: center;
}

.contents ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.contents ul ul {
  padding-left: 20px;
}

.source {
  font-size: 12.8px;
  margin-bottom: 20px;
}

.warning {
  font-size: 14px;
  padding-left: 22.4px;
  margin-bottom: 14px;
}

h3 {
  font-size: 16.8px;
}

.templatequote {
  font-size: 14px;
  line-height: 21px;
  padding-left: 40px;
  margin: 0;
}

.templatequotice {
  line-height: 21px;
  padding-left: 70px;
  font-size: 14px;
}

.main-footer {
 color: #333;
 height: 150px;
 font-size: 11px;
 padding: 20px;
}

.footer-places {
 float: left;
 display: flex;
 list-style-type: none;
 padding: 0;
}

.footer-places li {
 margin-right: 8px;
}
